<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264904809448-h1hqcecvhcl6grpvokhlv2h3aijbq5i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264904809448-h1hqcecvhcl6grpvokhlv2h3aijbq5i4</string>
	<key>API_KEY</key>
	<string>AIzaSyD66zWSwmQTIQFeTj5tP_WqMSAHuQ73dlI</string>
	<key>GCM_SENDER_ID</key>
	<string>264904809448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viktor.tema7</string>
	<key>PROJECT_ID</key>
	<string>tema-7-43731</string>
	<key>STORAGE_BUCKET</key>
	<string>tema-7-43731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264904809448:ios:4544c6d979e8249a42225d</string>
</dict>
</plist>